.slide__desc {
	position: absolute;
    width: 540px;
    top: 310px;
    left: 40%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px 20px 15px 45px;
    border-radius: 15px;
    box-sizing: border-box;
    color: $clr-text;

    h4 {
    	line-height: 2em;
    }

    p {
    	font-size: 1.1em;
    	line-height: 1.4em;
    	margin-bottom: -1em;
    }
}

.adv {
	position: relative;
	margin: 0 auto;
	max-width: 1024px;
	@include e('separator') {
		position: absolute;
		right: -20px;
		height: 90px;
		border-left: 3px solid rgba(0, 0, 0, 0.07);
		top: 25%;
	}

  	@include e('container') {
  		position: relative;
  		height: 186px;
  		width: 186px;
  		display: inline-block;
  		vertical-align: top;
  		margin: 0 30px;

  		@include m('circle') {
  			border-radius: 93px;
  			background-color: rgba(255, 255, 255, 0.75);
  			& > * {
			width: 75%;
			}
  		}

  		@include m('bold') {
  			font-weight: bold;
  			line-height: 1.4em;
  			width: 205px;
  			margin: 0 20px;
  		}

	  	& > * {
			margin: 0 auto;
		}
  	}

	p {
		text-align: center;
		font-size: 16px;
		color: $clr-gray-text;
	}

  	@include e('desc') {
  		height: 115px;
  		width: 90px;
  		background: url(/images/icons-big.png) 0px 0px no-repeat;

  		@include m('first') {background-position: 17px 22px;}
  		@include m('two') {background-position: -80px 22px;}
  		@include m('three') {background-position: -177px 22px;}
  		@include m('fourth') {background-position: -280px 22px;}
  	}
}

.content {
	background: $clr-bg url(/images/bg2.png) 0 0 no-repeat;
	border-top: 2px solid #fff;
	padding: 35px 0 50px 0;

	@include e('wrap') {
		@extend .align-center;
	}

	@include e('cards') {
		background-color: #fff;
		display: inline-block;
		border-radius: 5px;
		border: 2px solid #fff;
		text-align: left;
		margin-bottom: 15px;

		&:not(:last-child) {
			margin-right: 10px;
		}

		@include m('w200') {
			width: 200px; //for ie9
		}
	}

	@include e('desc') {
		background-color: #fff;
		border-radius: 10px 10px 0 0;
		text-align: left;
		margin-top: 30px;
	}
}

.cards {
	@include e('img') {}

	@include e('title') {
		color: #fff;
		font-size: 18px;
		padding: 10px 20px;
		margin-top: -40px;
	}
	@include e('link') {
		border-bottom: 	1px solid $clr-green-active;
		

		&:hover {
			border: 0;
			text-decoration: none;
		}

		@include m('blue') {
			border-color: $clr-blue;
		}
	}

	@include e('cost') {
		padding: 15px 5px 10px 20px;
		color: 	#2e3e41;

		@include m('san') {
			padding-left: 10px;
			font-size: .85em;
		}

		ul {
			padding-bottom: 20px;
		}
		
		li {
			padding: 10px 0;
		}

		span {
			float: right;
			font-size: .8em;
			color: $clr-gray-text;
			vertical-align: bottom;	
			font-weight: bold;
			line-height: 1.4em;
		}
	}

	@include e('day') {
		font-size: 16px;
		padding-top: 10px;
	}

	@include e('view') {
		text-align: left;
		font-size: 20px;
		padding: 30px 0;
	}
}

.i-block {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #fff;
	display: inline-block;
	font-size: 13px;
	margin-top: 20px;
	text-align: left;
	vertical-align: top;
	width: 49%;
	&:nth-child(odd) {
			margin-right: 10px;
		}

	@include e('title') {
		border-radius: 5px 5px 0 0;

		h3 {
			font-size: 22px;
			color: $clr-gray-text;
			padding-left: 20px;
			line-height: 2.3em;
		}

		@include m('green') {background-color: $clr-green-toxic;}
		@include m('yelow') {background-color: $clr-yelow-lite;}
		@include m('viol') {background-color: $clr-viol;}
		@include m('rose') {background-color: $clr-rose;}

	}

	@include e('content') {
		padding: 15px 25px;
		color: $clr-gray-text;

		@include m('list') {
			ul {
				display: inline-block;
				vertical-align: top;
				&:nth-child(even) {
					padding-left: 20px;
				}

				li {
					
				}
			}
		}

		@include m('info') {
			h6 {
				font-size: 18px;
				padding-bottom: 15px;
			}

			p {
				line-height: 1.8em;
				font-size: 15px;
				padding: 0;
			}

			ul {
				padding-left: 30px;
			}

			li {
				line-height: 1.5em;
				text-indent: -28px;
				&:before {
					color: $clr-green-lite;
					content: '▶';
					padding-right: 15px;	
				}
			}
		}

		@include m('acord') {
			dl {}

			dt {
				text-transform: uppercase;
				padding: 25px 5px;
			}

			dd {
				line-height: 1.8em;
				padding-left: 25px;
				margin-left: 5px;
				position: relative;
				&:before {
					content: ' ';
					top: 5%;
					left: 0;
					height: 90%;
					border-left: 2px solid $clr-tetx-lite;
					position: absolute;
				}
			}
		}

		@include m('comment') {
			line-height: 1.8em;

			.date {
				color: $clr-green-medium;
			}

			strong {
				font-weight: bold;
			}


		}
	}

	li {
		padding: 7px 0;
	}
}
